body {
    font: 8pt "Trebuchet MS", Arial, sans-serif;
    background-color: #fff;
    text-align: left;
}

h1 {
    font: 16pt "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    background: transparent;
    text-align: left;
}
h2 {
    font: 12pt "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    background: transparent;
    text-align: left;
}

h3 {
    font: 8pt "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    background: transparent;
    text-align: left;
}

a img {
    border: none;
    padding: 2px;
}


.dataname {
   text-align: left;
   background: #FFFF99;  
   font-weight: bold;
   font-size: 12;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;    
  }

.pcttype {
   background: #d1d0d8;  
   font-size: 12px;
   font-weight: bolder;
   text-align: center;
   padding:2px 5px 2px 5px;
  }

.ccdtitle {
   display: block;
   background: #FFFFFF;  
   font-weight: bold;
   font-size: 16px;
   text-align: center;   
   padding:2px 5px 2px 5px;
  }

.ccdid {
   display: block;
   background: #FFFFFF;  
   font-size: 8px; 
   text-align: center;
   padding:2px 5px 2px 5px;   
  }
  
.ccd {
   text-align: left;
   background-color: #c7f6c2;
   width: 100%;
   border:2px solid;
   border-radius:25px;
   border-style: groove;
   border-color: #000000;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;   
}  

.ccd_md {
   text-align: left;
   background-color: #cbd88d;
   width: 95%;
   border:2px solid;
   border-radius:25px;
   border-style: groove;
   border-color: #000000;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;   
}  

.entry {
   text-align: left;
   background-color: #cecece;
   padding:2px 5px 2px 5px;
   border:1px solid;
   border-radius:25px;
   border-style: groove;
   border-color: #000000;
   
}  

.entry-data {
   text-align: left;
   background-color: #d8cc8d;
   width: 95%;
   border:2px solid;
   border-radius:25px;
   border-style: ridge;
   border-color: #000000;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;
}  
  
  
.cluster {
   text-align: left;
   background-color: #d88dac;
   width: 95%;
   border:2px solid;
   border-radius:25px;
   border-style: groove;
   border-color: #000000;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;   
}  

.dvstring {
   text-align: left;
   background-color: #aec5ea;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;   
}  

.dvuri {
   text-align: left;
   background-color: #d8cdb1;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;
}  

.dvboolean {
   text-align: left;
   background-color: #bab202;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;
}  

.dvencapsulated {
   text-align: left;
   background-color: #a3cfa0;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;
}  

.dvordered {
   text-align: left;
   background-color: #bdebcd;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;
}  

.dvquantified {
   text-align: left;
   background-color: #98dd92;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;
}  

.partyself {
   text-align: left;
   background-color: #e1a8bf;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;
}  

.partyidentified {
   text-align: left;
   background-color: #f6ccbe;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;   
}  


.refrange {
   text-align: left;
   background-color: #dec6e1;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;
}  

.attestation {
   text-align: left;
   background-color: #f6ebbe;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;   
}  

.participation {
   text-align: left;
   background-color: #deec9c;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;   
}  

.audit {
   text-align: left;
   background-color: #8d8fd8;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;   
}  

.fad {
   text-align: left;
   background-color: #a8aae1;
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding:2px 5px 2px 5px;
}  

.devonly {
   text-align: center;
   display: inline;
   
}


